* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background:
    linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)
    ),
    url(img/mario-dobelmann-etiCf-2QuXY-unsplash.jpg);
    background-repeat: no-repeat;

    font-size: 14px;
    line-height: 1.3;
    font-family: "Helvetica", "Arial", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    height: 10vh;
    color: white;
    padding-top: 20px;
}

.left .logo_container{
    width: 100%;
    max-height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.left .logo_container .left_headers {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;

    padding: 20px;
}

.left .logo_container .left_headers h1 {
    font-size: 20px;
}

.left .logo_container .left_headers h3 {
    font-size: 14px; 
}
.left img {
    height: 75px;
}

.form_container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_header {
    margin-bottom: 40px 0;
    text-align: center;
    
    width: 100%;
    padding: 40px;
}

.form_header h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(64,67,40,255);
}

.form_header p {
    font-size: 20px;
    color: rgba(64,67,40,255);
}

.sign_up_form {
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(69, 69, 69, 0.69);
    color: white;

    padding: 40px;
    margin: 0 0 10px 0;
}

.form_row {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form_row label {
    font-size: 16px;
    margin-bottom: 10px;
}

.form_row input[type="text"],
.form_row input[type="email"],
.form_row input[type="tel"],
.form_row input[type="password"] {
    font-size: 14px;
    height: 40px;
    padding: 10px;

    border: none;
    border-radius: 3px;
}

.form_row input[type="text"]:invalid,
.form_row input[type="email"]:invalid,
.form_row input[type="tel"]:invalid,
.form_row input[type="password"]:invalid {
    border: 2px solid red;
}
.form_row .checkbox_label {
    font-size: 16px;
    margin-bottom: -10px;
}

.form_row .checkbox_label a {
    text-decoration: none;
    color: rgb(100, 232, 255)
}

.form_footer {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

.button_container {
    margin-top: 50px;
    text-align: center;
}

.sign_up_form button {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(254,253,252,255);
    color: black;

    height: 45px;
    width: 60%;

    border: none;
    border-radius: 3px;

    margin-bottom: 10px;
}

.sign_up_form button:hover {
    background-color: rgba(243,209,173,255);
    cursor: pointer;
}

.form_footer p {
    font-size: 16px;
    color: white;
}

.form_footer a:link {
    text-decoration: none;
    color: rgb(100, 232, 255);
    font-weight: bold;
}

.form_footer a:visited {
    text-decoration: none;
    color: rgb(100, 232, 255);
    font-weight: bold;
}

.img_credits {
    text-align: center;
    font-size: 10px;
    color: rgba(243,209,173,255);
    letter-spacing: 1px;

    margin-bottom: 10px;
}

.img_credits a {
    font-size: 10px;
    color: rgba(243,209,173,255);
}

@media only screen and (min-width: 900px) {

        .left {
            width: 100%;
            height: 100vh;

            color: white;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            }

        .left .logo_container{
            width: 100%;
            padding: 25px;
            max-height: 20vh;
            
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .left .logo_container .left_headers h1 {
            font-size: 30px;
        }
        
        .left .logo_container .left_headers h3 {
            font-size: 20px; 
        }

        .left img {
            height: 187.5px;
            width: 140px;
        }


        body {
            display: flex;
            flex-direction: row;
        }

        .form_container {
            border: 1px solid black;
            border-radius: 3px;

            min-width: 500px;
            max-width: 40%;
            min-height: 100%;
            max-height: 100%;

            background-color: rgba(69, 69, 69, 0.69);

            display: flex;
            flex-direction: column;
            align-items: center;

            justify-self: flex-end;
        }

        .form_header {
            width: 80%;
            margin-bottom: -60px;
        }

        .form_header h1,
        .form_header p {
            color: rgba(243,209,173,255);
        }


        .sign_up_form {
            width: 100%;
            margin-bottom: 0;
            padding-bottom: 0;

            border: none;
            border-radius: none;

            background-color: transparent;
        }

        .sign_up_form .form_block {
            display: flex;
            flex-direction: row;
            gap: 25%;
            justify-content: center;
        }

        .form_row {
            margin-top: 20px;
        }

        .form_row input[type="text"],
        .form_row input[type="email"],
        .form_row input[type="tel"],
        .form_row input[type="password"] {
            font-size: 14px;
            height: 40px;
            padding: 10px;

            border: none;
            border-radius: 3px;
            width: 100%;
            
        }

        .form_row .checkbox_label {
            font-size: 16px;
            margin-bottom: -30px;
        }

        .button_container {
            text-align: center;
            margin-top: 50px;
        }

        .sign_up_form button {
            width: 40%;
        }

        .form_footer {
            margin-bottom: 0;
            padding-bottom: 30px;

            width: 80%;
        }

        .form_footer p {
            font-size: 14px;
        }

        .img_credits {
            text-align: center;
            font-size: 8px;
            width: 80%;
            margin: 0;
        }
        
        .img_credits a {
            font-size: 8px;
        }
}